
@font-face {
  font-family: "asado-regular";
  src: url("../fonts/asado-regular-text.otf");
}

@font-face {
  font-family: "asado-bold";
  src: url("../fonts/asado-bold-text.otf");
}

@font-face {
  font-family: "asado-body";
  src: url("../fonts/asado-body-text.ttf");
}
/*

Asado Colours

Off White - #fffaf1
Green - #024443
Gold - #fcb632
Dark Blue - #02223b

*/

.footer-wrapper {
  background-color: #024443;
  height: 7rem;
  margin-top: -25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-container {
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    color: #fffaf1;
    font-family: asado-regular;

    @media only screen and (max-width: 400px) {
      font-size: 1rem;
    }
    @media only screen and (min-width: 401px) {
      font-size: 1.2rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 1.4rem;
    }
  }

  h3 {
    color: #fffaf1;
    font-family: asado-regular;
    @media only screen and (max-width: 400px) {
      font-size: 0.8rem;
    }
    @media only screen and (min-width: 401px) {
      font-size: 1rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 1.2rem;
    }
  }
}

.footer-item-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 8rem;



  @media only screen and (max-width: 767px) {
    width: 6rem;
  }

  &.hover {
    @media only screen and (max-width: 400px) {
      width: 4rem;
    }
    @media only screen and (min-width: 401px) {
      width: 6rem;
    }
    &:hover {
    transform: scale(1.2);
    }
  }

}

.footer-item-divider {
  height: 60%;
  width: 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: solid #fffaf1 1px;
  margin-left: 5%;
  margin-right: 5%;
}

.insta-icon {
  color: #fffaf1;
  @media only screen and (max-width: 400px) {
    font-size: 1.5rem;
  }
  @media only screen and (min-width: 401px) {
    font-size: 1.7rem;
  }
  @media only screen and (min-width: 768px) {
    font-size: 1.9rem;
  }
}

.up-to-top {
  color: #fffaf1;
  position: absolute;
  font-size: 1.2rem;

  @media only screen and (max-width: 529px) {
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 0.8rem;
  }
  @media only screen and (min-width: 530px) {
    right: 5%;
    bottom: 2rem;
  }


  &:hover {
    @media only screen and (min-width: 530px) {
      transform: scale(1.5);
    }
  }
}