@font-face {
  font-family: "asado-regular";
  src: url("../fonts/asado-regular-text.otf");
}

@font-face {
  font-family: "asado-bold";
  src: url("../fonts/asado-bold-text.otf");
}

@font-face {
  font-family: "asado-body";
  src: url("../fonts/asado-body-text.ttf");
}

.nav-main {
    height: 8rem;
    
}

.nav-burger {
  &:hover {
    background-color: transparent;
    color: white !important;
  }
  span {
    width: 20px;
    height: 2px;
  }
}

.nav-image-container {
  position: fixed;
  left: 50%;
  top: 1.5rem;
  margin-left: -3rem;
  width: 6rem;
  

  img {
    width: auto;
  }
}

#nav-links {
  padding-top: 2rem;
  @media only screen and (max-width: 1023px) {
    background-color: #fcb632;
    a {color: #02223b;}
    a:hover {color: #024443 !important;}
  }
}

.nav-brand {
  padding-left: 0px !important;
  border: solid white;
}

.start-end-define-left { 
  margin-bottom: 1.3rem;
  width: 30%;
  height: 100%;
  
  @media only screen and (min-width: 1024px) {
    margin-left: 12%;
  }
}

.nav-link-start {
  font-family: asado-regular;
  font-size: 1.5rem;
  color: #ffffff;

  &:hover {
    color: #ffffff !important;
    background-color: transparent !important;
    text-decoration: underline;
  }

  &:focus {
    color: #ffffff !important;
    background-color: transparent !important;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 2rem;
  }
}

.start-end-define-right {
  margin-bottom: 1.3rem;
  width: 30%;
  height: 100%;

  @media only screen and (max-width: 1023px) {
    margin-top: -2.2rem;
  }
  @media only screen and (min-width: 1024px) {
    margin-right: 12%;
  }
}

.nav-link-end {
  font-family: asado-regular;
  font-size: 1.5rem;
  color: #ffffff;

  &:hover {
    color: #ffffff !important;
    background-color: transparent !important;
    text-decoration: underline;
  }
  &:focus {
    color: #ffffff !important;
    background-color: transparent !important;
  }

  @media only screen and (min-width: 1024px) {
    font-size: 2rem;
  }
}

.flex-cont {
  height: 100%;

  @media only screen and (max-width: 1023px) {
    width: auto;
  }
  @media only screen and (min-width: 1024px) {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }  
}


.nav-dropdown-link {
  font-family: asado-regular;
  font-size: 1.5rem;
  color: #ffffff;
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;

  &:hover {
    color: #ffffff !important;
    background-color: transparent !important;
    text-decoration: underline;
  }
  
  @media only screen and (min-width: 1024px) {
    font-size: 2rem;
    padding: 8px;
  }
  @media only screen and (max-width: 1023px) {
    padding-left: 0.8rem;
  }
}


.navbar-dropdown {

  @media only screen and (max-width: 1023px) {
  padding-top: 0.4rem !important;
  margin-bottom: -0.6rem;
  }

  @media only screen and (min-width: 1024px) {
    a {
      font-size: 1.5rem;
    }
  }
}

#order-menu-item {
  padding-top: 2rem !important;
  padding-bottom: 2rem !important;
}
