@font-face {
  font-family: "asado-regular";
  src: url("../fonts/asado-regular-text.otf");
}

@font-face {
  font-family: "asado-bold";
  src: url("../fonts/asado-bold-text.otf");
}

@font-face {
  font-family: "asado-body";
  src: url("../fonts/asado-body-text.ttf");
}


.wrapper {
  position: relative;
  width: 100%;
  height: 86vh;
  z-index: 1;

}
