
@font-face {
  font-family: "asado-regular";
  src: url("../fonts/asado-regular-text.otf");
}

@font-face {
  font-family: "asado-bold";
  src: url("../fonts/asado-bold-text.otf");
}

@font-face {
  font-family: "asado-body";
  src: url("../fonts/asado-body-text.ttf");
}

.master-wrapper {
  scroll-margin-top: -10000rem;
}

.color-strip-gold-layout {
  width: 100vw;
  height: 15vh;
  background-color: #fcb632;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 8rem;
  
  h2 {
    font-family: asado-bold;
    color: #fffaf1;
    text-align: center;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.6);
    margin-right: 3%;

    @media only screen and (max-width: 400px) {
      font-size: 1.6rem;
      padding-top: 1.3rem;
    }
    @media only screen and (min-width: 401px) {
      font-size: 2rem;
      padding-top: 1.6rem;
    }
    @media only screen and (min-width: 768px) {
      font-size: 3rem;
      padding-top: 2.2rem;
    }
    @media only screen and (min-width: 1024px) {
      font-size: 3.5rem;
    padding-top: 2.6rem;
    }
    @media only screen and (min-width: 1297px) {
      font-size: 4rem;
    padding-top: 3rem;
    }
  }
}

.color-strip-green-layout {
  width: 100vw;
  height: 15vh;
  background-color: #024443;
  text-align: center;
  border-top: solid #fcb632;
}

.about-wrapper {
  width: 100vw;
  height: auto;

  background-color: #024443;
  display: flex;
  justify-content: center;
  align-items: center;


  div.text-box {
    width: 80%;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;

    h2 {
      font-family: asado-bold;
      color: #fffaf1;
      font-size: 3rem;
    }
    p {
      font-family: asado-body;
      color: #fffaf1;
      font-size: 1.8rem;

      @media only screen and (max-width: 1297px) {
        font-size: 1.4rem;
      }
      @media only screen and (max-width: 1023px) {
        font-size: 1.2rem;
      }
      @media only screen and (max-width: 767px) {
        font-size: 0.8rem;
      }
    }
  }
}



.contact-section {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcb632;
  scroll-margin-top: 8rem;
}

.contact-info-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 5rem 0;
}

.contact-info-box {
  width: 30rem;
  padding: 5%;
  margin: 5rem 0;

  h2 {
    font-family: asado-bold;
    color: #fffaf1;
    font-size: 3rem;
    text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.6);
    margin-top: 1rem;
    margin-bottom: -1.5rem;
  }
  h3 {
    font-family: asado-bold;
    color: #fffaf1;
    font-size: 2rem;
    text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.6);
  }
  p {
    font-family: asado-regular;
    color: #fffaf1;
    font-size: 1.8rem;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
    
  }
}