/*

Asado Colours

Off White - #fffaf1
Green - #024443
Gold - #fcb632
Dark Blue - #02223b


@keyframes colorBackground {
  0% {background-color: #fcb632;}
  40% {background-color: #fcb632;}
  100% {background-color: transparent;display: none;}
}
*/

@keyframes colorBackground {
  0% {transform: translate(0px, 0px);}
  40% {transform: translate(0px, 0px);}
  100% {transform: translate(0px, -2000px);}
}

.intro-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: #fcb632;
  position: absolute;
  display: flex;
  justify-content: center; 
  align-items: center;
  
}

.asado-animation-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: #024443;
  animation-name: colorBackground;
  animation-duration: 7s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  z-index: 999;
}

.options-container {
  position: absolute;
  margin-left: -2%;
  display: flex;
  justify-content: space-evenly; 
  align-items: center;
  flex-wrap: wrap;
  border: solid white 2px;
  -webkit-box-shadow: 8px 7px 0px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 7px 0px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 7px 0px -2px rgba(0, 0, 0, 0.6);
  background-color: #024443;
  @media only screen and (min-width: 1231px) {
    width: 30%;
    height: 45%;
  }
  @media only screen and (max-width: 1230px) {
    width: 40%;
    height: 45%;
  }
  @media only screen and (max-width: 1023px) {
    width: 50%;
    height: 45%;
  }
  @media only screen and (max-width: 767px) {
    width: 55%;
    height: 40%;
  }
  @media only screen and (max-width: 549px) {
    width: 65%;
    height: 40%;
  }
  @media only screen and (max-width: 444px) {
    width: 75%;
    height: 40%;
  }
  @media only screen and (max-width: 379px) {
    width: 80%;
    height: 40%;
  }
}

.title-box {
  width: 100%;
  text-align: center;
  margin-bottom: -100px;

  h1 {
    font-family: asado-bold;
    color: #fffaf1;
    font-size: 2rem;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 0.6);
    margin-top: 1rem;
    line-height: 70%;

    @media only screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 374px) {
      font-size: 1.3rem;
    }
  }
}

.option-box {
  border: solid white 2px;
  padding: 1rem;
  width: 10rem;
  text-align: center;
  -webkit-box-shadow: 8px 7px 0px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 8px 7px 0px -2px rgba(0, 0, 0, 0.6);
  box-shadow: 8px 7px 0px -2px rgba(0, 0, 0, 0.6);
  
  @media only screen and (max-width: 767px) {
    width: 8rem;
  }
  @media only screen and (max-width: 374px) {
    width: 6rem;
  }

  h2 {
    font-family: asado-bold;
    color: #fffaf1;
    font-size: 2rem;
    text-shadow: 3px 1px 0px rgba(0, 0, 0, 0.6);
    @media only screen and (max-width: 767px) {
      font-size: 1.5rem;
    }
    @media only screen and (max-width: 374px) {
      font-size: 1rem;
    }
  }
}

.gold-box {
  background-color: #02223b;
  &:hover {
    background-color: #fcb632;
  }
}
.green-box {
  background-color: #02223b;
  &:hover {
    background-color: #fcb632;
  }
}