
@font-face {
  font-family: "asado-regular";
  src: url("../fonts/asado-regular-text.otf");
}

@font-face {
  font-family: "asado-bold";
  src: url("../fonts/asado-bold-text.otf");
}

@font-face {
  font-family: "asado-body";
  src: url("../fonts/asado-body-text.ttf");
}




.menu-section-wrapper {
  background: linear-gradient(180deg, #000000 0%, #012322 80%, #024443 100%);
  scroll-margin-top: 8rem;
  padding-top: 10rem;
  
}

.menu-title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  

  h1 {
    font-family: asado-bold;
      color: #fffaf1;
      font-size: 5rem;
      //text-shadow: 3px 2px 0px #fcb632;
      //margin-top: 10rem;

      @media only screen and (max-width: 430px) {
        font-size: 4rem;
        margin-top: 6rem;
      }
  }
}

.menu-items-wrapper {
  width: 100vw;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;


  .menu-items-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 90%;
    height: 80%;
    margin-bottom: 8rem;

    @media only screen and (min-width: 1450px) {
      width: 75%;
    }
  }

  .menu-item-box {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1%;
    
  }

  .menu-text-box {
    width: 30rem;
    padding: 5%;
    border: solid  rgba(255, 255, 255, 0.5) 2px;
    -webkit-box-shadow: 8px 7px 0px -2px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 8px 7px 0px -2px rgba(255, 255, 255, 0.75);
    box-shadow: 8px 7px 0px -2px rgba(255, 255, 255, 0.75);
    
    @media only screen and (max-width: 530px) {
      width: 100%;
    }

    h2 {
      font-family: asado-bold;
      color: #fffaf1;
      text-shadow: 4px 3px 0px rgba(0, 0, 0, 0.6);
      margin-top: 1rem;
      margin-bottom: -1.5rem;
      @media only screen and (max-width: 402px){
        font-size: 2.5rem;
      }
      @media only screen and (min-width: 403px){
        font-size: 2.8rem;
      }
      @media only screen and (min-width: 475px){
        font-size: 3rem;
      }
    }
    h3 {
      font-family: asado-bold;
      color: #fffaf1;
      text-shadow: 3px 2px 0px rgba(0, 0, 0, 0.6);
      @media only screen and (max-width: 402px){
        font-size: 1.5rem;
      }
      @media only screen and (min-width: 403px){
        font-size: 1.7rem;
      }
      @media only screen and (min-width: 475px){
        font-size: 2rem;
      }
    }
    p {
      font-family: asado-regular;
      color: #fffaf1;
      text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.6);
      @media only screen and (max-width: 402px){
        font-size: 1.3rem;
      }
      @media only screen and (min-width: 403px){
        font-size: 1.6rem;
      }
      @media only screen and (min-width: 475px){
        font-size: 1.8rem;
      }
    }
  }
}