@charset "utf-8";
// If need, change your variables before importing Bulma

@font-face {
  font-family: "asado-regular";
  src: url("../fonts/asado-regular-text.otf");
}

@font-face {
  font-family: "asado-bold";
  src: url("../fonts/asado-bold-text.otf");
}

@font-face {
  font-family: "asado-body";
  src: url("../fonts/asado-body-text.ttf");
}



.center-text {
  text-align: center;
}


/*

$navbar-background-color: transparent;
$navbar-item-color: #ffffff;
$navbar-item-active-color: #ffffff;
$navbar-tab-active-color: #ffffff;
$navbar-burger-color: #ffffff;
$navbar-height: 5rem;
$navbar-item-img-max-height: 7rem;
$body-overflow-y: auto;
$navbar-dropdown-item-hover-color: #ffffff;
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-dropdown-border-top: none;
$navbar-dropdown-background-color: rgba(0, 0, 0, 0.5); 

Asado Colours

Off White - #fffaf1
Green - #024443
Gold - #fcb632
Dark Blue - #02223b

*/
//$body-overflow-y: auto;
$navbar-background-color: #024443;
$navbar-burger-color: #fffaf1;
$navbar-item-color: #fffaf1;
$navbar-dropdown-background-color: #fcb632; 
$navbar-dropdown-item-hover-background-color: transparent;
$navbar-item-hover-background-color: transparent;
$navbar-dropdown-border-top: none;
$navbar-height: 8rem;
$navbar-dropdown-arrow: #fcb632; 

// Import Bulma core
@import "~bulma/bulma.sass";



